## Last commit: 2025-08-08 08:52:43 UTC by admin
version 14.1R1.10;
system {
    host-name Nyc-Backbone-01;
    domain-name Nyc-Backbone-01.zaferSteele.com;
    root-authentication {
        encrypted-password "$1$99kdNK.f$6cv9Xow/r8XmNosvtj7it/"; ## SECRET-DATA
    }
    login {
        user admin {
            uid 2001;
            class super-user;
            authentication {
                encrypted-password "$1$FvSY9byK$wvYFDjVe2khjC9Cp00sVj1"; ## SECRET-DATA
            }
        }
        user zafer {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$1$8xQwqWXx$.nc90WRDytymrNsYZonAW/"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh;
    }
    syslog {
        user * {
            any emergency;
        }
        file messages {
            any notice;
            authorization info;
        }
        file interactive-commands {
            interactive-commands any;
        }
    }
}
interfaces {
    ge-0/0/0 {
        unit 0 {
            family inet {
                address 10.10.0.18/30;
            }
        }
    }
    ge-0/0/1 {
        unit 0 {
            family inet {
                address 10.10.0.22/30;
            }
        }
    }
    ge-0/0/2 {
        unit 0 {
            family inet {
                address 10.10.0.30/30;
            }
        }
    }
    em1 {
        unit 0 {
            family inet {
                address 192.168.255.15/24;
            }
        }
    }
    lo0 {
        unit 0 {
            family inet {
                address 10.0.20.3/32;
            }
        }
    }

}
routing-options {
    static {
        route 0.0.0.0/0 next-hop 192.168.255.1;
    }
    autonomous-system 65252;
}
protocols {
    bgp {
        group IBGP {
            type internal;
            local-address 10.0.20.3;
            cluster 10.0.20.3;
            neighbor 10.0.20.1 {
                description Nyc-Router-01;
                peer-as 65252;
            }
            neighbor 10.0.20.2 {
                description Nyc-Router-02;
                peer-as 65252;
            }
        }
        group EBGP-TO-CSR {
            type external;
            local-address 10.0.20.3;
            export EXPORT-EBGP;
            peer-as 65251;
            neighbor 10.0.10.3 {
                multihop;
            }
        }
    }
    ospf {
        area 0.0.0.0 {
            interface lo0.0;
            interface ge-0/0/0.0;
            interface ge-0/0/1.0;
            interface ge-0/0/2.0;
        }
    }
       
    lldp {
        transmit-delay 5;
        port-id-subtype interface-name;
        interface all;
        
    }

}





policy-options {
    policy-statement EXPORT-EBGP {
        term 1 {
            from {
                route-filter 192.0.2.0/24 exact;
            }
            then accept;
        }
        then reject;
    }
}
